.course-contatiner{width:98%;height:auto;background:#fffbcb;position:relative;margin:auto;border-radius:.42rem;margin-bottom: 1rem;}
.course-contatiner:before{content:"";display:block;display:block;width:0;height:0;border-width:0 1rem 2.08rem;border-style:solid;border-color:transparent transparent #fffbcb;position:absolute;top:-1.25rem;left:1.5rem}
.courseLabel{font-size:1.25rem;text-align:left;line-height:3.33rem;padding-left:.83rem}
.course-contatiner ul{display:flex;justify-content:flex-start;flex-wrap:wrap}
.course-contatiner ul li{width:8.92rem;height:6.67rem;display:inline-block;margin:0 auto;position:relative;margin-bottom: 1.5rem;}
.course-contatiner ul li a{width:100%;height:100%;display:block;border:2px solid #ff8400;border-radius:.42rem;overflow:hidden;box-shadow: 0 3px 10px 0px rgba(0,0,0,.4)}
.course-contatiner ul li img{width:100%;height:6.67rem}
.buyStatus{display:flex;align-items:center;justify-content:space-around;width:100%;height:1.58rem;line-height:1.58rem;color:rgba(0,0,0,.7);background:#fff;position:absolute;bottom:-1px;border-radius:0 0 .42rem .42rem}
.course-buyStatus{width:1.67rem!important;height:auto!important}
.buyStatus span{width:auto;max-width:6.67rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.imcolor{color:#000;font-weight:600}
