
.show-cover-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: block;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.buyStyle-options {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: -1px;
  left: 0;
  background: #fff;
  border-radius: .83rem .83rem 0 0;
  z-index: 1000;
  .coupons-can-select {
    .coupon {
      display: flex;
      justify-content: space-around;
      width: 27.5rem;
      height: 6.25rem;
      margin: 1.25rem auto;
      border-radius: .67rem;
      background: url('//udata.youban.com/webimg/wxyx/puintuan/usecoupon-bg.png') no-repeat;
      background-size: 100% 100%;
      color: #ff6971;
      font-size: 1rem;
      position: relative;
      overflow: hidden;
      & ul, div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      ul.left {
        width: 9.58rem;
        li:first-child {
          span {
            &:first-child {
              font-size: 1rem;
            }
            &:last-child {
              font-size: 2.5rem;
            }
          }
        }
        li:last-child {
          color: #838383;
        }
      }
      ul.middle {
        text-align: left;
        width: 11.25rem;
        li:first-child {
          font-size: 1.33rem;
          color: #000000;
        }
        li:last-child {
          color: #838383;
        }
      }
      .right {
        width: 6.5rem;
        position: relative;
        span {
          display: block;
          width: 5rem;
          height: 1.75rem;
          line-height: 1.75rem;
          border-radius: .83rem;
          border: 1px solid currentColor;
          margin: auto;
        }
        img {
          position: absolute;
          top: -.33rem;
          right: -.67rem;
          width: 3.75rem;
          height: 2.5rem;
        }
      }
    }
  }
  .select-info {
    width: 100%;
    height: 3.67rem;
    line-height: 3.67rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    img {
      position: absolute;
      top: .42rem;
      right: .42rem;
      width: 1.83rem;
      height: 1.83rem;
    }
  }
  .coupons-buy {
    width: 100%;
    height: 4.17rem;
    background: #fa4822;
    line-height: 4.17rem;
    color: #FFFFFF;
    span:first-child {
      font-size: 1rem;
    }
    span:last-child {
      font-size: 1.67rem;
    }
  }
}
