.banbox{position: relative;width: 100%;height: auto;overflow: hidden}
.swiper-img{
    display: block; width: 100%;
    height: auto;
}
.bonus_entry{
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    top: 8rem;
    z-index: 100;
}
.bonus_entry img{width: 6rem}
